body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

p {
text-align: justify;
text-justify: inter-word;
  font-family: century;
  font-size: 20px;
	color: white;
width: 500px;
}

p1 {
text-align: center;
  font-family: arial;
  font-size: 30px;
	color: yellow;
width: 500px;
}

p2 {
text-align: center;
  font-family: century;
  font-size: 12px;
	color: white;
width: 400px;
}

.book-img {
	
	display: block;

	width: 300px;
	margin: auto 0;
	
}

a:link {
  color: yellow;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: blue;
}

.flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}